@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  box-sizing: border-box;
}

.part-1 {
  max-width: 1400px;
  margin: 0 auto;


}

body {
  background-color: rgb(10, 10, 10);
}

/* shared style  */
.display-flax {
  display: flex;
}

.bg-color {
  background-color: rgb(230, 83, 60);
}


/* navber style  */
.fitness {
  color: rgb(230, 83, 60);
  font-size: 2.2rem;

}

.navber {
  max-width: 1050px;
  justify-content: space-between;
  margin: 2rem auto;

  align-items: center;
}

.nav-option {
  gap: 20px;
  color: white;
}

.home {
  border: none;
  border-radius: 46px;
  padding: 8px 20px;
}

/* nav ar banner */
.btn-1 {
  border: none;
  border-radius: 46px;
  padding: 8px 20px;
  background-color: rgb(230, 83, 60);
}

.btn-2 {
  border: 1px solid white;
  border-radius: 46px;
  padding: 8px 20px;
  background-color: rgb(10, 10, 10);
  color: white;
}

.nav-ar-banner {
  max-width: 1050px;
  margin: auto;
  justify-content: space-between;
}

.banner-ar-titel {
  font-size: 3.2rem;
  color: white;
  font-weight: 900;
  /* text-align: center; */
  max-width: 400px;
  margin: 30px auto;
  text-align: start;

}

.shape {
  font-family: 'Miama', sans-serif;
  font-size: 3.2rem;
}

.banner-ar-details {
  color: white;
  text-align: center;
  max-width: 500px;
  margin-bottom: 30px;
}

.bannar-image {

  position: relative;
}

.box-1 {
  position: absolute;
  left: -68px;
  bottom: 78px;
}

.box-2 {
  position: absolute;
  left: 240px;
  top: 105px;
}

.Video,
.Free {
  background-color: rgb(255, 255, 255, 0.2);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  border: none;
}

.ball {
  height: 30px;
  width: 30px;
  background-color: red;
  border-radius: 50%;
}

.Video {
  align-items: center;
  width: 150px;
  height: 70px;
  padding: 10px 10px;
  color: aquamarine;
  /* margin-top: -100px;
  margin-left: -70px; */

}

.number-1 {
  font-size: 1.5rem;
  font-weight: 900;
}

.Free {
  width: 150px;
  height: 90px;
  padding: 10px 10px;
  color: aquamarine;
}

.number-2 {
  font-size: 2.3rem;
  font-weight: 900;

}

.bar-1 {
  display: none;
}

.fa-bars {
  font-size: 25px;
  color: white;
}

/* Change-Habits */
.Change-Habits {
  max-width: 1050px;
  margin: 0 auto;
}

.Change-Habits-title {
  max-width: 670px;
  font-size: 3rem;
  font-weight: 900;
  color: white;
  text-align: center;
  margin: 50px auto;

}

.Change-Habits-details {
  color: white;
  max-width: 670px;
  text-align: center;
  margin: 5px auto;
}


/* .Change-Habits-cards {
  max-width: 1050px;
  margin: 10px auto;
} */
.Change-Habits-cards {
  justify-content: space-evenly;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.Change-Habits-cards h3 {
  color: white;
  text-align: center;
}

.Change-Habits-cards h3 {
  font-size: 18px;
}

.Change-Habits-cards p {
  font-size: 10px;
  color: white;
}

.Change-Habits-cards img {
  border-radius: 50%;
  margin-left: 30px;
}

/* BMI-Calculator start */
.BMI-Calculator {
  max-width: 1350px;
  margin: 40px auto;
}

.BMI-Calculator-title,
.BMI-Calculator-details {
  color: white;
  text-align: center;
}

.BMI-Calculator-title {
  font-size: 3rem;
  font-weight: 900;
}

.BMI-Calculator-details {
  font-size: 1rem;
}

.table-calculator {
  background: rgb(34, 34, 34);
  height: 700px;
  max-width: 1450px;
  margin: 0 auto;
  padding: 40px;
}


.bmi {
  margin-left: 100px;
  color: white;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

th,
td {
  padding: 15px;
  text-align: center;
  color: white;
}

.table-calculator {
  /* flex-direction: row; */
  /* justify-content: center; */
  align-items: center;
  justify-content: space-evenly;
}


.Calculate-BMI {
  color: white;
  max-width: 500px;
  height: 300px;
  ;

}

.Calculate-BMI-title {
  font-size: 1.2rem;
  font-weight: 900;
  margin-bottom: 20px
}

.Calculate-BMI-details {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.input-1 {
  justify-content: space-between;

}

.Height,
.Weight {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  /* max-width: 200px; */
  width: calc(99%/2);
  border: none;
  border-radius: 10px;

}

.input-2 {
  justify-content: space-between;

}

.age {
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  /* max-width: 200px; */
  width: 49%;
  border: none;
  margin-top: 5px;
  
}

#sex {
  background: rgba(255, 255, 255, 0.1);
  color: rgba(8, 250, 218, 0.6);
 width: 50%;
 border-radius: 10px;
 margin-top: 5px;
 border: none;
}




.factor {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 50px;
  color: rgba(8, 250, 218, 0.6);
  margin-top: 5px;
  border: none;
}
.btn{
  border-radius: 42px;
padding: 10px;
background: rgb(230, 83, 60);
border: none;
margin-top: 10px;
}




/* responsive part  */

@media screen and (max-width:576px) {
  .nav-option {
    display: none;
  }

  .bar-1 {
    display: block;
  }

  .nav-ar-banner {
    flex-direction: column;
  }

  .box-1 {
    position: absolute;
    left: 22px;
    bottom: 181px;
    border-radius: 20px;
  }

  .box-2 {
    position: absolute;
    left: 223px;
    top: 90px;
  }

  .navber {
    width: 400px;
  }

  .Change-Habits-cards {
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
  }
  .table-calculator,.BMI-Calculator {
    flex-direction: column;
    margin: 0 5px;
    padding: 10px 10px;
  }
  .input{
    max-width: 200px;
  }

}